@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-dark: 222.2 84% 4.9%;
    --foreground: 222.2 84% 4.9%;
    --foreground-dark: 210 40% 98%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --background-dark: 0 0% 100%;
    --foreground: 210 40% 98%;
    --foreground-dark: 222.2 84% 4.9%;
  }

  * {
    @apply border-slate-200 dark:border-slate-800;
  }

  body {
    @apply bg-background dark:bg-background-dark text-foreground dark:text-foreground-dark;
  }
}